body
{
    font-family: 'Montserrat';
}

#title
{
    background-color: #8d99ae;

} 


.navbar
{
    padding-bottom: 70px;
}
.top-cont{
    padding: 1% 7%;
}

.nav-item
{
    padding: 0 20px 0 20px;
    font-size: 2rem;
}

.nav-link
{
    color : #030052;
}
h1
{
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    margin-top:2rem;
    line-height: 1.5;
}


.brainImg
{
    padding-right: 50px;
    height: 104%;
    width: 100%;
}

h3{

    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

.heading{
    padding: 100px 0 0 100px;
}

.btn
{
    margin-top: 3%;
}



/*Features section styling*/

#win-button
{
    margin-left: 7%;
}

#features
{
    padding: 7% 10% ; 
}

.fas
{
    color: #1948CE;
    padding-bottom: 1rem; 
}
.feature-box
{
    text-align: center;
    
}

.fas:hover{
    color:#19CE4A;
}
